* {
    background-image: url(../img/surf.avif);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    opacity: 90%;
    margin: 0;
    position: fixed;
}